<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header>
    <navbar class="navbar bg-dark text-light">
        <div class="navLeft">
            <div class="dropdown">
                <a class="text-light text-decoration-none" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h4 class="m-0" th:text="${user.getUsername()}">Placeholder</h4>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a th:href="@{/allUsers}" th:if="${user.getRole()} == 'ROLE_ADMIN'" class="dropdown-item">All users</a>
                    <a th:href="@{/logout}" class="dropdown-item">Sign out</a>
                </div>
            </div>
        </div>
        <div class="navRight">

        </div>
    </navbar>
</header>
<main>
    <div class="container">
        <div class="auctionAdder">
            <form th:action="@{/addAuction}" th:object="${auction}" method="post">
                <h1>Create an auction</h1>
                <div class="card card-b mb-3">
                    <div class="card-block pl-3 pr-3 pt-3">

                        <div class="formGroup">
                            <label for="itemName" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-form-label">Name: </label>
                            <input type="text" id="itemName" th:field="*{itemName}"
                                   placeholder="Teddy bear, Toy car...">
                        </div>

                        <div class="formGroup">
                            <label for="itemCategory" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-form-label col-form-label-sm">Category: </label>
                            <select name="itemCategory" th:field="*{category}" id="itemCategory">
                                <option value="Toys">Toys</option>
                                <option value="Vintage">Vintage</option>
                                <option value="Jewelry">Jewelry</option>
                                <option value="Furniture">Furniture</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="reservedPrice" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-form-label">Starting bid:</label>
                            <input type="number" th:field="*{reservedPrice}" id="reservedPrice" placeholder="13.37">
                        </div>

                        <div class="form-group">
                            <label for="itemCondition" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-form-label">Condition: </label>
                            <select name="itemCondition" th:field="*{itemCondition}" id="itemCondition">
                                <option value="Excellent">Excellent</option>
                                <option value="Good">Good</option>
                                <option value="Fair">Fair</option>
                                <option value="Poor">Poor</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="endDate" class="col-sm-3 col-md-3 col-lg-3 col-form-label">End date: </label>
                            <input type="date" name="end" id="endDate" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="itemURL" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-form-label">Picture URL: </label>
                            <input type="text" id="itemURL" th:field="*{urlImage}" class="form-control"
                                   placeholder="Your link here <---">
                        </div>

                        <div class="form-group">
                            <label for="itemDescription" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-form-label">Description: </label>
                            <textarea type="text" id="itemDescription" th:field="*{description}" class="form-control"
                                      th:attr="placeholder=${placeholders}"></textarea>
                        </div>

                        <div class="form-group mt-2">
                            <div class="col-md-10 col-lg-3">
                                <button type="submit" class="btn btn-primary">Create Auction</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="divider">

        </div>
        <div class="paginationDiv">
            <div class="mb-2" th:if="${pageTotal > 1}">
                <div class="d-flex justify-content-between">
                    <div class="d-flex ml-1">
                        <div class="mr-1">
                            <a th:if="${pageCurrent <= pageTotal && pageCurrent != 1}"
                               th:href="@{'/auctions/' + ${pageCurrent - 1}}" class="btn btn-primary">Previous</a>
                        </div>
                        <div>
                            <a th:if="${pageCurrent < pageTotal}" th:href="@{'/auctions/' + ${pageCurrent + 1}}"
                               class="btn btn-primary">Next</a>
                        </div>
                    </div>
                    <div class="d-flex">
                        <span class="mr-2" th:each="i: ${#numbers.sequence(1, pageTotal)}">
                        <a th:if="${pageCurrent != i}" th:href="@{'/auctions/' + ${i}}">[[${i}]]</a>
                        <span th:unless="${pageCurrent != i}">[[${i}]]</span> &nbsp; &nbsp;</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="showAuctions">
            <div>
                <div class="auctionList" th:each="auction: ${auctionList}">
                    <div class="auctionItem mb-2 border">
                        <div class="auctionItemTop bg-dark text-light d-flex p-2 align-items-center">
                            <div class="auctionItemTopLeft col-3 pl-0">
                                <div class="itemNameDiv">
                                    <h3 class="m-0" th:text="${auction.getItemName()}">Placeholder</h3>
                                </div>
                            </div>
                            <div class="col-2"></div>
                            <div class="auctionItemTopRight col-7 pr-0">
                                <div class="auctionCrudBtns flex-row d-flex justify-content-end">
                                    <div class="btndiv">
                                        <a class="btn btn-primary mr-2" th:href="@{'/endAuction/'+${auction.getAuctionID()}}">End auction</a>

                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                th:if="${user.getUsername()} == ${auction.getUser().getUsername()} or ${user.getRole()} == 'ROLE_ADMIN'"
                                                th:attr="data-target='#editAuction'+*{auction.getAuctionID()}">
                                            Edit
                                        </button>
                                        <a th:href="@{'/deleteAuction/'+${auction.getAuctionID()}}"
                                           th:if="${user.getUsername()} == ${auction.getUser().getUsername()} or ${user.getRole()} == 'ROLE_ADMIN'"
                                           class="btn btn-danger ml-2 mr-2">Delete</a>
                                        <button class="btn text-light"
                                                type="button" th:attr="data-target='#userInfo'+*{auction.getUser().getId()}"
                                                data-toggle="modal">
                                            <h3 th:text="${auction.getUser().getUsername()}" class="m-0 mb-1">
                                                PlaceholderName</h3>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="auctionItemBody d-flex flex-row mt-2">
                            <div class="auctionItemLeft col-6">
                                <div class="auctionPic">
                                    <div class="auctionPicture mh-50 d-flex justify-content-center">
                                        <picture>
                                            <img th:src="${auction.getUrlImage()}" alt="" style="max-height: 400px"
                                                 class="img-fluid">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                            <div class="auctionItemRight d-flex col-6 flex-column">
                                <div class="auctionInformation w-50">
                                    <div class="information d-flex justify-content-between">
                                        <p><b>Category: </b></p>
                                        <span th:text="${auction.getCategory()}">placeholder</span>
                                    </div>
                                    <div class="information d-flex justify-content-between">
                                        <p><b>Items Condition: </b></p>
                                        <span th:text="${auction.getItemCondition()}">placeholder</span>
                                    </div>
                                    <div class="information d-flex justify-content-between">
                                        <p><b>End date: </b></p>
                                        <span th:text="${auction.getEndDate()}">placeholder</span>
                                    </div>
                                    <div class="information d-flex justify-content-between">
                                        <p><b>Starting Price: </b></p>
                                        <p><span th:text="${auction.getReservedPrice()}">placeholder</span> Kr</p>
                                    </div>
                                </div>
                                <div class="auctionDescription overflow-auto" style="max-height: 150px">
                                    <p th:text="${auction.getDescription()}">"Sed ut perspiciatis unde omnis iste natus
                                        error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                                        ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                                        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                        aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                                        nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                                        labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
                                        quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                                        ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                                        voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
                                        fugiat quo voluptas nulla pariatur?"
                                    </p>
                                </div>
                                <div class="auctionBid mt-2 d-flex flex-row">
                                    <div class="bidDiv">
                                        <form th:action="@{'/addbid/'+${auction.getAuctionID()}}"
                                              th:if="${user.getUsername()} != ${auction.getUser().getUsername()}"
                                              th:object="${bid}" method="post">
                                            <div class="form-Group">
                                                <label for="bidPrice">Bid: </label>
                                                <input type="number" th:field="*{amount}" id="bidPrice">
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary" type="submit">Bid</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="bidHistory ml-2">
                                        <a href="" type="button" data-toggle="modal"
                                           th:attr="data-target='#bidHistory'+*{auction.getAuctionID()}">Show all
                                            bids</a>
                                    </div>
                                </div>
                                <div class="highestBids">
                                    <div class="topBids"
                                         th:each="bid : ${auction.getBids().size()>3 ? auction.getBids().subList(0, 3) : auction.getBids()}">
                                        <p th:text="${bid.getAmount()}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                    MODALS               -->
                    <!--                    HistoryModal         -->
                    <div class="modal fade" th:id="*{'bidHistory'+{auction.getAuctionID()}}" tabindex="-1"
                         aria-labelledby="bidHistoryModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"><span th:text="${auction.getItemName()}"> - Bids</span></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="showBidhistory d-flex flex-row justify-content-between"
                                         th:each="bids : ${auction.getBids()}">
                                        <div class="userName">
                                            <p th:text="${bids.getUser().getId()}">placeholder id</p>
                                        </div>
                                        <div class="bidPrice">
                                            <p th:text="${bids.getAmount()}">Placeholder item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                 EDIT MODAL              -->
                    <div class="modal fade" th:id="*{'editAuction'+{auction.getAuctionID()}}" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" th:text="${auction.getItemName()}" id="exampleModalLabel">
                                        Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{'/editAuction/'+${auction.getAuctionID()}}" th:object="${auct}"
                                          method="post">
                                        <div class="form-group">
                                            <label for="editTitle">Item name: </label>
                                            <input type="text" name="editTitle" id="editTitle"
                                                   th:value="${auction.getItemName()}">
                                        </div>
                                        <div class="form-group">
                                            <label for="editCategory">Item name: </label>
                                            <select type="text" name="editItemCondition" id="editCategory"
                                                    th:value="${auction.getCategory()}">
                                                <option value="Excellent">Excellent</option>
                                                <option value="Good">Good</option>
                                                <option value="Fair">Fair</option>
                                                <option value="Poor">Poor</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="editItemCategory">Item name: </label>
                                            <select name="editItemCategory" th:value="${auction.getItemCondition()}"
                                                    id="editItemCategory">
                                                <option value="Toys">Toys</option>
                                                <option value="Vintage">Vintage</option>
                                                <option value="Jewelry">Jewelry</option>
                                                <option value="Furniture">Furniture</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="editItemDescription">Item name: </label>
                                            <textarea name="editItemDescription" id="editItemDescription" cols="30"
                                                      rows="2" th:value="${auction.getDescription()}"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary ">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                USER MODAL              -->
                    <div class="modal fade" th:id="*{'userInfo'+{auction.getUser().getId()}}" tabindex="-1"
                         aria-labelledby="bidHistoryModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"><span
                                            th:text="${auction.getUser().getUsername()}"> - Info</span></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="showUserInfo d-flex flex-column">
                                        <div class="userMail mb-2 d-flex flex-column">
                                            <p class="mb-0">User email: </p>
                                            <p class="border" style="width: 75%; height: 25%"
                                               th:text="${auction.getUser().getEmail()}">placeholder name</p>
                                        </div>
                                        <div class="userInfo mb-2 d-flex flex-column">
                                            <p class="mb-0">User info: </p>
                                            <p class="border overflow-auto" style="width: 75%; max-height: 100px;"
                                               th:text="${auction.getUser().getUserInfo()}">Placeholder description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>